/*colors Variable*/
$black: #000000;
$white: #ffffff;
$red: #fb5a61;
$silver-l: #959091;
$text: #2e2e2e;


/*google foonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
$cormorant: 'Cormorant Garamond', serif;


/*media Variable*/
$mobile-xxsm: 350px;
$mobile-xsm: 400px;
$mobile-sm: 576px;
$mobile: 768px;
$tablet: 991px;
$notebook: 1366px;