/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";
/*block*/
@import "block/container.scss"; 

/*main style*/
body{
  background-color: rgba($blue, 0.7);
  h1{

    color: red;
    font-size: 16px;
  }
  span{
    color: $green;
    @include tablet{
      font-size: 60px;
    }
  }
  p{
    font-size: 35px;
    font-weight: 700;
    color: orchid;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
a{
  transition:  all 0.5s ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 16px;
  @media (max-width: $notebook){
    font-size: 56px;
    color: aqua;
  }
}
ul{
  li{
    width: 100px;
    height: 10px;
  }
}
.title{
  font-style: italic;
  font-weight: 700;
  color: red;
  font-size: 58px;
  &:hover{
    color: orange;
    font-size: 85px;
    cursor: pointer;
    text-shadow:  0 0 15px orange;
  }
}