/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";
/*block*/
/*container*/
@import "block/container.scss"; 
/*nav*/
@import "block/nav.scss";
/*btn*/
@import "block/btn.scss";
/*main style*/
html{
  font-size: 16px;
}
body{
  font-family: sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 0;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  &:focus {
    outline: none;
  }
}
