$color: #fcb624;

body{
  background-color: rgba(#2e8cd8, 0.7);
  h1{
    color: red;
    font-size: 16px;
  }
  span{
    color: $color;
  }
  p{
    font-size: 35px;
    font-weight: 700;
    color: orchid;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
a{
  transition:  all 0.5s ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
ul{
  li{
    width: 100px;
    height: 10px;
  }
}