/*var*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.about__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include mobile{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.about__img {
  flex-basis: 30%;
  text-align: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  img{
    border-radius: 2px;
    &:hover{
      cursor: grab;
    }
  }
  h3 {
    margin-top: 1rem;
    color: $red;
    font-size: 2.5rem;
    font-family: $cormorant;
    font-weight: bold;
    line-height: 1;
  }
  p {
    margin-top: 0.7rem;
    font-size: 1rem;
    font-family: $cormorant;
    color: $text;
    line-height: 1.5;  
  }
  @include mobile{
    flex-basis: 80%;
    order: 2;
    margin-bottom: 2rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
  @include mobile-sm{
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}
.about__title{
  flex-basis: 40%;
  text-align: center;
  h2{
    font-size: 6rem;
    font-family: $cormorant;
    color: $text;
    line-height: 1;
    margin-top: 10rem;
    @include mobile{
      font-size: 4rem;
      margin-top: 0;
    }
    @include mobile-sm{
      font-size: 3rem;
    }
  }
  p{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $cormorant;
    color: $text;
    line-height: 2rem;
    margin-top: 1rem;
    @include mobile-sm{
      line-height: 1.5rem;
    }
  }
  h4{
    color: $red;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $cormorant;
    line-height: 1;
  }
  @include mobile{
    flex-basis: 80%;
    order: 1;
    margin-bottom: 2rem;
  }
  @include mobile-sm{
    margin-bottom: 1rem;
    flex-basis: 100%;
  }
}
.rotateHover{
  transition: transform 0.3s linear;
}
