/*var*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.navbar__bnt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__burger {
  border: 3px solid #333;
  padding: 6px;
  display: inline-block;
  cursor: pointer;
  span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}
.open__button {
  &:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
}
.open__button {
  &:nth-child(2) {
    opacity: 0;
  }
}
.open__button {
  &:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
