/*var*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";
.footer{
  width: 100%;
  background-color: $red;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  @include tablet {
    padding-top: 3rem;
  }
  @include mobile {
    padding-top: 2rem;
  }
}
.footer__wraper{
  width: 100%;
  h3{
    color: $white;
    font-weight: 700;
    font-family: $cormorant;
    font-size: 1.5rem;
    line-height: 0;
    margin-bottom: 1rem;
    @include mobile-sm{
      line-height: 1;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
  }
  h2{
    color: $white;
    font-weight: 700;
    font-family: $cormorant;
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 2rem;
    @include tablet {
      font-size: 2.8rem;
    }
    @include mobile {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    @include mobile-sm {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }
}
.footer__copiright{
  color: $white;
  font-family: $cormorant;
  font-weight: 300;
  font-size: 0.8rem;
}