/*var*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.loveline {
  background-color: #f5f5f5;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.loveline__row {
  width: 100%;
  position: relative;
}
.loveline__title {
  margin-bottom: 4rem;
  h3 {
    font-family: $cormorant;
    font-weight: 300;
    font-size: 3rem;
    color: $text;
    margin-bottom: 1rem;
  }
}
.loveline__slider {
  width: 100%;
  overflow: hidden;
}
.love__slider--item{
  text-align: center;
  img {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  h4 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: $text;
    font-weight: 700;
    font-family: $cormorant;
    font-size: 1.3rem;
  }
  p {
    padding: 0 2rem;
    color: rgba($black, 0.9);
    font-family: $cormorant;
    font-weight: 300;
    font-size: 0.9rem;
  }
}
.love__buton{
  position: absolute!important;
  z-index: 2;
  padding: 0.3rem;
  transform: translateY(-100%);
  i{
    font-size: 2rem;
    color: rgba($black, 0.5);
  }
  &--prev{
    left: -1%;
    top: 50%;
  }
  &--next{
    top: 50%;
    right: -1%;
  }
  &:hover{
    cursor: pointer;
  }
}