/*var*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.loveline {
  background-color: #f5f5f5;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.loveline__row {
  width: 100%;
  position: relative;
}
.loveline__title {
  margin-bottom: 4rem;
  h3 {
    font-family: $cormorant;
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    color: $text;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 2.8rem;
    }
    @include mobile {
      font-size: 2.5rem;
    }
    @include mobile-sm {
      font-size: 1.8rem;
    }
  }
  @include tablet {
    margin-bottom: 3rem;
  }
  @include mobile {
    margin-bottom: 2rem;
  }
  @include mobile-sm {
    margin-bottom: 1rem;
  }
}
.loveline__slider {
  width: 100%;
  overflow: hidden;
}
.love__slider--item {
  text-align: center;
  img {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
    @include mobile-sm {
      width: 250px;
      height: 250px;
    }
  }
  h4 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $black;
    font-family: $cormorant;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
  }
  p {
    padding: 0 1rem;
    color: $black;
    font-family: $cormorant;
    font-weight: 300;
    font-size: 1.1rem;
  }
}
.love__buton {
  position: absolute !important;
  z-index: 2;
  padding: 0.3rem;
  transform: translateY(-100%);
  i {
    font-size: 2rem;
    color: rgba($black, 0.5);
  }
  &--prev {
    left: -1%;
    top: 50%;
  }
  &--next {
    top: 50%;
    right: -1%;
  }
  &:hover {
    cursor: pointer;
  }
  @include mobile{
    display: none!important;
  }
}
